:root {
  --header-height: 100px;
  --background: #FDF8F2;
  --background-secondary: #F9F7F5;
  --font-primary: #2F2620;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;

  background-color: var(--background);

  color: var(--font-primary);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}